body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(330, 87%, 85%);
}
#calc{
    font-family: Arial,  sans-serif;
    /* background-color:hsl(0, 1%, 15%) ; */
     background-color: hsla(330, 70%, 58%, 0.185);
    border-radius: 15px;
    
    width: 500px;
    overflow: scroll;

}
#display{
    width: 100%;
    color: white;
    /* background-color: hsl(0, 1%, 27%); */
     background-color: hsl(330, 90%, 60%);
    font-size: 5rem;
    padding: 15px;
    text-align: left;
    border: none;
}
.keys{
   display: grid;
   grid-template-columns: repeat(4,1fr); 
   gap: 10px;
   padding: 25px;

}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    color: white;
    /* background-color: hsla(60, 2%, 30%); */
     background-color: hsl(330, 87%, 85%);
    font-size: 3rem;
    cursor: pointer;
    font-weight: bold;

}
button:hover{
    
     background-color: hsl(330, 78%, 65%);
}
button:active{
    
     background-color: hsl(330, 75%, 56%);
}
#operator{
    background-color: hsl(330, 91%, 63%);
}
#operator:hover{
    background-color: hsl(330, 73%, 53%);
}
#operator:active{
    background-color: hsl(330, 85%, 65%);
}